<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Face Recognition</title>
    <!-- Bootstrap core CSS -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
    <!-- Custom styles for this template -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/thumbnail-gallery.css') }}">
    <!-- Uploading profile picture -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/croppr.min.css') }}">
    <script src="{{ url_for('static', filename='js/croppr.min.js') }}"></script>
  </head>
  <style>
  .bottom-left {
    position: relative;
    bottom: 31px;
    border-top: 1px solid grey;
    background-color: #CCC;
    width: 100%;
    padding: 3px 10px 3px 10px;
    opacity: 0.8;
  }

  table td{
    padding: 10px;
  }
  </style>
  <body>
    <!-- Navigation -->
    {% include 'navigation.html' %}

    <!-- Page Content -->
    <div class="container">
      <div class="row text-center text-lg-left">
        <div class="col-lg-9 col-md-9 col-xs-6">
          <div class="container">
            <h3 class="my-4 text-center text-lg-left">Visitors:</h3>
            <div class="row" >
              {% for visitor in visitors: %}
              <div class="col-lg-4 col-md-4 col-xs-6">
                  <img style='width: 100%; border: 1px solid black;' class="img-fluid img-thumbnail" src="{{url_for('static', filename='images/users/'+visitor.user.id|string+'/picture.'+visitor.user.image)}}" alt="">
                  <div class="bottom-left"><small>{{ visitor.user.name }}, <time class="timeago" datetime="{{visitor.time}}">5 months ago</time></small></div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-xs-6">
          <div class="container">
            <h3 class="my-4 text-center text-lg-left">Suspicious:</h3>
            <div class="row" >
              {% for susp in suspicious: %}
              <div class="col-lg-12 col-md-4 col-xs-6">
                  <img style='width: 100%; border: 2px solid red;' class="img-fluid img-thumbnail" src="{{url_for('static', filename='images/suspicious/'+susp.id|string+'.'+susp.image)}}" alt="">
                  <div class="bottom-left"><small><time class="timeago" datetime="{{susp.time}}">5 months ago</time></small></div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.container -->

    <!-- Modal -->
    {% include 'registration.html' %}

    <!-- Footer -->
    {% include 'footer.html' %}

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/timeago.js') }}"></script>
  </body>

</html>
