<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Face Recognition</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
    <!-- Custom styles for this template -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/thumbnail-gallery.css') }}">
    <!-- Uploading profile picture -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/croppr.min.css') }}">
    <script src="{{ url_for('static', filename='js/croppr.min.js') }}"></script>
  </head>
  <body>
  <style>
  .bottom-left {
    position: relative;
    bottom: 31px;
    border-top: 1px solid grey;
    background-color: #CCC;
    width: 100%;
    padding: 3px 10px 3px 10px;
    opacity: 0.8;
  }
  </style>


    <!-- Navigation -->
    {% include 'navigation.html' %}

    <!-- Page Content -->
    <div class="container">

      <h1 class="my-4 text-center text-lg-left"></h1>

      <div class="row text-center text-lg-left">
        {% for user in users: %}
        <div style='cursor: pointer;' data-toggle="modal" data-target="#user{{user.id}}" class="col-lg-3 col-md-4 col-xs-6">
            <img style='width: 100%; border: 1px solid black;' class="img-fluid img-thumbnail" src="{{url_for('static', filename='images/users/'+user.id|string+'/picture.'+user.image)}}" alt="">
            <div class="bottom-left"><small>{{ user.name }}</small></div>
        </div>
        {% endfor %}
      </div>

    </div>
    <!-- /.container -->

    <!-- Open user details -->
    {% for user in users: %}
    <div class="modal fade" id="user{{user.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form method='POST' action='/modify/'>
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">User profle</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table style="width: 100%">
              <tr>
                <td>
                  <img width='245px' src="{{url_for('static', filename='images/users/'+user.id|string+'/picture.'+user.image)}}">
                </td>
                <td style='padding-left: 10px'>
                    <input type="hidden" name="id" value="{{user.id}}">

                    <label style="margin-bottom: 0px;" for="name" class="bmd-label-floating"><small>Name:</small></label>
                    <input style="width: 100%;" type="text" class="form-control" id="name" name="name" placeholder="{{user.name}}" value="{{user.name}}">

                    <label style="margin-bottom: 0px;" for="email" class="bmd-label-floating"><small>Email:</small></label>
                    <input style="width: 100%;" type="text" class="form-control" id="email" name="email" placeholder="{{user.email}}" value="{{user.email}}">

                    <label style="margin-bottom: 0px;" for="phone" class="bmd-label-floating"><small>Phone:</small></label>
                    <input style="width: 100%;" type="text" class="form-control" id="phone" name="phone" placeholder="{{user.phone}}" value="{{user.phone}}">
                </td>
              </tr>
            </table>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button name='submit' value="Update" type="submit" class="btn btn-primary">Update</button>
            <button name='submit' value="Delete" type="submit" class="btn btn-danger">Delete</button>
          </div>
        </form>
        </div>
      </div>
    </div>
    {% endfor %}

    <!-- Modal -->
    {% include 'registration.html' %}

    <!-- Footer -->
    {% include 'footer.html' %}

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  </body>

</html>
