<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Face Recognition</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
    <!-- Custom styles for this template -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/thumbnail-gallery.css') }}">
    <!-- Uploading profile picture -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/croppr.min.css') }}">
    <script src="{{ url_for('static', filename='js/croppr.min.js') }}"></script>
  </head>
  <body>
  <style>
  .bottom-left {
    position: relative;
    bottom: 31px;
    border-top: 1px solid grey;
    background-color: #CCC;
    width: 100%;
    padding: 3px 10px 3px 10px;
    opacity: 0.8;
  }
  </style>


    <!-- Navigation -->
    {% include 'navigation.html' %}

    <!-- Page Content -->
    <div class="container">

      <h1 class="my-4 text-center text-lg-left"></h1>

      <div class="row text-center text-lg-left">
        {% for visitor in visitors: %}
        <div class="col-lg-3 col-md-4 col-xs-6">
            <img style='width: 100%; border: 1px solid black;' class="img-fluid img-thumbnail" src="{{url_for('static', filename='images/users/'+visitor.user.id|string+'/picture.'+visitor.user.image)}}" alt="">
            <div class="bottom-left"><small>{{ visitor.user.name }}, <time class="timeago" datetime="{{visitor.time}}">5 months ago</time></small></div>
        </div>
        {% endfor %}
      </div>

    </div>
    <!-- /.container -->

    <!-- Modal -->
    {% include 'registration.html' %}

    <!-- Footer -->
    {% include 'footer.html' %}

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <script type="text/javascript">
    (function timeAgo(selector) {

        var templates = {
            prefix: "",
            suffix: " ago",
            seconds: "less than a minute",
            minute: "about a minute",
            minutes: "%d minutes",
            hour: "about an hour",
            hours: "about %d hours",
            day: "a day",
            days: "%d days",
            month: "about a month",
            months: "%d months",
            year: "about a year",
            years: "%d years"
        };
        var template = function(t, n) {
            return templates[t] && templates[t].replace(/%d/i, Math.abs(Math.round(n)));
        };

        var timer = function(time) {
            if (!time)
                return;
            time = time.replace(/\.\d+/, ""); // remove milliseconds
            time = time.replace(/-/, "/").replace(/-/, "/");
            time = time.replace(/T/, " ").replace(/Z/, " UTC");
            time = time.replace(/([\+\-]\d\d)\:?(\d\d)/, " $1$2"); // -04:00 -> -0400
            time = new Date(time * 1000 || time);

            var now = new Date();
            var seconds = ((now.getTime() - time) * .001) >> 0;
            var minutes = seconds / 60;
            var hours = minutes / 60;
            var days = hours / 24;
            var years = days / 365;

            return templates.prefix + (
                    seconds < 45 && template('seconds', seconds) ||
                    seconds < 90 && template('minute', 1) ||
                    minutes < 45 && template('minutes', minutes) ||
                    minutes < 90 && template('hour', 1) ||
                    hours < 24 && template('hours', hours) ||
                    hours < 42 && template('day', 1) ||
                    days < 30 && template('days', days) ||
                    days < 45 && template('month', 1) ||
                    days < 365 && template('months', days / 30) ||
                    years < 1.5 && template('year', 1) ||
                    template('years', years)
                    ) + templates.suffix;
        };

        var elements = document.getElementsByClassName('timeago');
        for (var i in elements) {
            var $this = elements[i];
            if (typeof $this === 'object') {
                $this.innerHTML = timer($this.getAttribute('title') || $this.getAttribute('datetime'));
            }
        }
        // update time every minute
        setTimeout(timeAgo, 60000);

    })();

    </script>
  </body>

</html>
